/*
 * Стили для иконки краулера в админ-баре (версия с высокой специфичностью)
 */

/* Прямое указание на ID родителя делает селектор сильнее */
#wp-admin-bar-web-crawler-link a.ab-item span.ab-icon-crawler {
    display: block !important; /* Меняем на block для лучшего контроля */
    width: 20px !important;
    height: 20px !important;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%23a7aaad" d="M410.7 368.5c-5.6-13.1-12.1-25.6-19.3-37.3l.1-.1c5.2-7.5 10.2-15.2 14.9-23.1 9.4-15.8 17.5-32.6 24-50.2h-119c-1.7 16.3-5.3 32.2-10.6 47.5-5.9 16.8-13.4 32.9-22.3 47.9l-2.4 3.9c-8.9-15-16.4-31-22.3-47.9-5.3-15.3-8.9-31.2-10.6-47.5H10.5c6.5 17.6 14.6 34.4 24 50.2 4.7 7.9 9.7 15.6 14.9 23.1l.1.1c-7.2 11.8-13.7 24.3-19.3 37.3 -5.5 12.8-10.2 26.3-13.9 40.2h101.5c4.1-14.8 9.5-29.2 15.9-42.9 6-12.8 12.8-25.1 20.3-36.6 7.4 11.5 14.3 23.8 20.3 36.6 6.5 13.8 11.8 28.1 15.9 42.9h101.5c-3.7-13.9-8.4-27.4-13.9-40.2zM256 160c-11.5 0-22.6 2.3-33.1 6.5-12.4 4.9-24 11.4-34.5 19.2-10.5 7.8-19.7 16.9-27.2 26.9 -7.5 10-13.4 20.7-17.5 31.8h224.5c-4.1-11.1-10-21.8-17.5-31.8-7.5-10-16.7-19.1-27.2-26.9-10.5-7.8-22.1-14.3-34.5-19.2-10.5-4.2-21.6-6.5-33.1-6.5zM256 0C161.4 0 84.7 33.4 34.1 86.9 21.3 99.7 11.2 114.3 4.2 129.8 1.4 135.5 0 141.5 0 147.6c0 14.1 4.5 27.5 12.6 39.1 8.1 11.5 19.3 21.2 32.8 28.5 16.4 8.9 35.3 15.4 55.7 19.2 1.9.4 3.8.7 5.7 1.1 18.3 3.6 37.8 5.6 58.1 5.6s39.8-2 58.1-5.6c1.9-.3 3.8-.7 5.7-1.1 20.4-3.8 39.3-10.3 55.7-19.2 13.5-7.3 24.7-17.1 32.8-28.5 8.1-11.6 12.6-25 12.6-39.1 0-6.1-1.4-12.1-4.2-17.8-7-15.5-17.1-30.1-29.9-42.9C427.3 33.4 350.6 0 256 0z" /></svg>') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 18px 18px !important;
    vertical-align: middle !important;
    margin: 0 5px 0 0 !important; /* Устанавливаем отступы */
    float: left !important; /* Выравниваем по левому краю */
}